# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers: This comprises of two types, either integers or floats. Integers are whole numbers which could be negative or positive without decimal points.
Floats are numbers with decimal points.

Strings: These are text characters

Lists: This is an ordered sequence of items and contains different data types. It is always enclosed in square brackets and separated by commas.

Tuples: Tuples are similar to lists as its also an ordered sequence of items. However once created, the elements/items can't be altered. Tuples are defined using parenthesis ().

Dictionaries: These allow you store and retrieve data in a flexible manner and can be unordered. The values are also in pairs called key-value pairs.

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 10 * (66 - 32)= 340
    
    What is the value of the expression 4 * 66 - 32 = 232
    
    What is the value of the expression 4 + 66 * 5 = 334

In [15]:
#type code here
value1 = 10 * (66 - 32)
value1

340

In [16]:
value2 = 4 * 66 - 32

value2

232

In [17]:
value3 = 4 +66 * 5
value3

334

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [18]:
a = 3+1.5+4
type(a)

float

What would you use to find a numberâ€™s square root, as well as its square?

In [21]:
#find the square of 67
67 ** 2

4489

In [20]:
#find the square root of 6798
6798 ** 0.5

82.44998483929515

In [24]:
#find the value of 68 exponent(raise to the power) by 3, and store it in a varibale called 'a'
a = 68 ** 3
a

314432

In [25]:
#find the square root of 'a'

a ** 0.5

560.7423650840018

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [107]:
s = 'hello'
# Print out 'e' using indexing
(s[1])

'e'

Reverse the string 'hello' using slicing:

In [106]:
s ='hello'
# Reverse the string using slicing
(s[::-1])

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [104]:
s ='hello'
# Print out the 'o'

# Method 1:

(s[4])

'o'

In [105]:
# Method 2:
(s[-1])

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [73]:
# Method 1:
list1 = [0, 0, 0]
list1

[0, 0, 0]

In [84]:
# Method 2:

my_list = []
for _ in range(3):
    my_list.append(0)

my_list

[0, 0, 0]

In [86]:
#method 3:

Reassign 'hello' in this nested list below to say 'goodbye' instead:

In [87]:
list3 = [1,2,[3,4,'hello']]

#write code below
list3[2][2] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

In [93]:
# method 2 for printing goodbye

list3 = [1,2,[3,4,'hello']]

#write code below
list3[2][2] = 'goodbye'
list3[2][2]

'goodbye'

Sort the list below:

In [94]:
list4 = [5,12,3,4,6,1,8,11,2,15,10,7,13,9,14]

#write code below
list4.sort()
list4

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [95]:
d = {'simple_key':'hello'}
# Grab 'hello'
d["simple_key"]

'hello'

In [96]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [97]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [98]:
# This will be alittle bit hard!
d = {'k1':[1,2,{'k2':['this is tricky',
               {'tough':[1,2,['hello']]}]}]
    }

#Grab hello
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>

Items in a dictionary can be retrieved in a specific order and this is done by sorting the keys

## Tuples

What is the major difference between tuples and lists?<br><br>

Tuples are similar to lists as its also an ordered sequence of items. However once created, the elements/items in tuple can't be altered.

How do you create a tuple?<br><br>
Tuples are created using parenthesis/brackets '()'

In [102]:
my_tuple = ("Izi", "Ehimen", "Jacinta")
my_tuple

('Izi', 'Ehimen', 'Jacinta')

## Sets

What is unique about a set?
the items are unique

Use a set to find the unique values of the list below:

In [103]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

list5 = {1,2,2,33,4,4,11,22,3,3,2}
list5

{1, 2, 3, 4, 11, 22, 33}

## Great Job on your first assessment!